module.exports = {
    "publicUrl"      : "http://picking.test",
    "renderMode"     : "development",
    "watchMode"      : true,
    "sourceMap"      : "source-map",
    "terserSourceMap": true
};
