{% extends "partials/frameTopMenu.twig" %}

{% block site_content %}
    <!-- Content area -->
    <div class="content">
        <div class="row">
			<div class="col-sm-6 col-xl-3">
				<div class="card card-body">
					<div class="media">
						<div class="media-body">
							<h3 class="font-weight-semibold mb-0 total-pegawai"><i class="icon-spinner2 spinner"></i></h3>
							<span class="text-uppercase font-size-sm">Jumlah pegawai</span>
						</div>

						<div class="ml-3 align-self-center">
							<i class="icon-users4 icon-3x text-blue-400"></i>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-xl-3">
				<div class="card card-body">
					<div class="media">
						<div class="mr-3 align-self-center">
							<i class="icon-users icon-3x text-danger-400"></i>
						</div>

						<div class="media-body text-right">
							<h3 class="font-weight-semibold mb-0 total-pegawai-pns"><i class="icon-spinner2 spinner"></i></h3>
							<span class="text-uppercase font-size-sm">Pegawai PNS</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-xl-3">
				<div class="card card-body">
					<div class="media">
						<div class="mr-3 align-self-center">
							<i class="icon-users2 icon-3x text-success-400"></i>
						</div>

						<div class="media-body text-right">
							<h3 class="font-weight-semibold mb-0 total-pegawai-kontrak"><i class="icon-spinner2 spinner"></i></h3>
							<span class="text-uppercase font-size-sm">Pegawai Kontrak</span>
						</div>
					</div>
				</div>
			</div>			
        </div>

        <div class="row">
			<div class="col-sm-6 col-xl-3">
				<div class="card card-body bg-info text-white">
					<div class="media">
						<div class="media-body">
							<h3 class="font-weight-semibold mb-0 pegawai-pensiun"><i class="icon-spinner2 spinner"></i></h3>
							<span class="text-uppercase font-size-sm">Pegawai Pensiun Th. Ini</span>
						</div>

						<div class="ml-3 align-self-center">
							<i class="icon-user-check icon-3x"></i>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-xl-3">
				<div class="card card-body bg-info text-white">
					<div class="media">
						<div class="media-body">
							<h3 class="font-weight-semibold mb-0 pegawai-naik-pangkat">4</h3>
							<span class="text-uppercase font-size-sm">Pegawai Naik Pangkat Th. Ini</span>
						</div>

						<div class="ml-3 align-self-center">
							<i class="icon-user-check icon-3x"></i>
						</div>
					</div>
				</div>
			</div>
		</div>        
    </div>
    <!-- /content area -->
{% endblock site_content %}
