{% extends "partials/frameTopMenu.twig" %}

{% block site_content %}
<!-- Content area -->
<div class="content">

    <form id="excel-form" action="#">
        <input type="file" id="excel" name="excel">
    </form>

</div>
<!-- /content area -->
{% endblock site_content %}
