{% extends "partials/frameTopMenu.twig" %}

{% block page_trigger %}
<div class="header-elements d-none">
    <div class="breadcrumb justify-content-center">
        <a href="#" data-type="single" data-trigger="new-user" class="page-trigger breadcrumb-elements-item">
            <i class="icon-file-plus mr-2"></i>
            New User
        </a>
    </div>
</div>
{% endblock page_trigger %}
{% block frameTopMenuTrigger %}
    <ul class="navbar-nav navbar-nav-highlight ml-md-auto">
        <li class="nav-item dropdown">
            <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                <i class="icon-cog3"></i>
                <span class="d-md-none ml-2">Menu User</span>
            </a>

            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" data-type="single" data-trigger="new-user" class="page-trigger dropdown-item"><i class="icon-file-plus"></i> Tambah User</a>
            </div>
        </li>
    </ul>
{% endblock frameTopMenuTrigger %}

{% block site_content %}
    <!-- Content area -->
    <div class="content">
        <!-- User list -->
        <div class="card">
            <table id="user-table" class="table datatable-resize">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>                   
                </tbody>
            </table>
        </div>
        <!-- /pickup list -->
    </div>
    <!-- /content area -->
{% endblock site_content %}
