<div class="header-elements d-none">
    <div class="d-flex justify-content-center">
        <a href="dashboard.html" class="btn btn-link btn-float font-size-sm font-weight-semibold text-default">
            <i class="icon-stats-growth text-pink-300"></i>
            <span>Statistic</span>
        </a>
        <a href="booking.html" class="btn btn-link btn-float font-size-sm font-weight-semibold text-default">
            <i class="icon-stack3 text-pink-300"></i>
            <span>Booking</span>
        </a>
        <a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-default">
            <i class="icon-calendar5 text-pink-300"></i>
            <span>Schedule</span>
        </a>
    </div>
</div>