<div class="header-elements d-none">
    <div class="breadcrumb justify-content-center">
        <div class="breadcrumb-elements-item dropdown p-0">
            <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                <i class="icon-file-text3 mr-2"></i>
                Export
            </a>

            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Export to Excel</a>
                <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> Export to PDF</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item"><i class="icon-printer2"></i> Print</a>
            </div>
        </div>
    </div>
</div>